body{
    margin:0;
    padding-left:10px;
    padding-top:10px
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

            #container {
                height: 100px;
                padding-top:10px
            }

            #container > svg {
                height: 100%;
                display: block;
            }